
/* Deal with IE paragraph style within the editor. */
[contenteditable] > div,
[contenteditable] div > span {
    margin : 0;
    word-break : break-all;
}

::-moz-selection {
    color : #FFF;
    background : rgb(81, 120, 225);
}

::selection {
    color : #FFF;
    background : rgb(81, 120, 225);
}

/* Prevent outlines on contenteditable items in IE. */
[contenteditable]:focus,
[contenteditable] div > span:focus {
    outline : 0;
}

.autotagjs-palette {
    left : -132px;
}

.autotagjs-palette-row {
    display : flex;
}

.autotagjs-palette-cell {
    cursor : pointer;
    width : 20px;
    height: 20px;
    margin : 2px;
}

.autotagjs-palette-cell:hover {
    box-shadow : 0 0 1px #000;
}

.autotagjs-menu {
    position : relative;
    -webkit-touch-callout: none;  /* iOS Safari */
       -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Firefox */
           -ms-user-select: none; /* Internet Explorer/Edge */
               user-select: none; /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.autotagjs-menu:hover {
    cursor: pointer;
}

.autotagjs-submenu {
    padding : 10px;
    background-color : #FFF;
    position : absolute;
    top : 50px;
    z-index : 1000;
    box-shadow : 1px 1px 3px #CCC;
    font-family : 'Helvetica';
    text-align : left;
    border-radius : 2px;
}

.autotagjs-list div {
    display: list-item;
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    padding-left: 55px;
}

.autotagjs-list div:before {
    position: absolute;
    left: 0;
    width: 40px;
    text-align: right;
}

.autotagjs-list-1:before,
.autotagjs-list-2:before,
.autotagjs-list-3:before {
    content: '';
}

.autotagjs-numbered-list-1:before {
    content: counter(autotagjs-numbered-counter-1) ".";
    counter-increment: autotagjs-numbered-counter-1;
}

.autotagjs-numbered-list-2:before {
    content: counter(autotagjs-numbered-counter-2, lower-latin) ".";
    counter-increment: autotagjs-numbered-counter-2;
}

.autotagjs-numbered-list-3:before {
    content: counter(autotagjs-numbered-counter-3, lower-roman) ".";
    counter-increment: autotagjs-numbered-counter-3;
}

.autotagjs-bulleted-list-1:before {
    content: '●';
}

.autotagjs-bulleted-list-2:before {
    content : '○';
}

.autotagjs-bulleted-list-3:before {
    content : '▪';
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    .page-header {
        padding: 60px 20px !important;
    }
    .autotagjs-palette {
        position : fixed !important;
        left : 50%;
        margin-left : -180px;
        top : 220px !important;
    }

    .autotagjs-palette-cell {
        height: 26px;
        width: 26px;
        margin: 4px;
    }
}
