
/* Deal with IE paragraph style within the editor. */
[contenteditable] p,
[contenteditable] p > tag {
    margin : 0;
    word-break : break-all;
}

::-moz-selection {
    color : #FFF;
    background : rgb(81, 120, 225);
}

::selection {
    color : #FFF;
    background : rgb(81, 120, 225);
}

/* Prevent outlines on contenteditable items in IE. */
[contenteditable]:focus,
[contenteditable] p > tag:focus {
    outline : 0;
}

.autotagjs-palette {
    left : -132px;
}

.autotagjs-palette-row {
    display : flex;
}

.autotagjs-palette-cell {
    cursor : pointer;
    width : 20px;
    height: 20px;
    margin : 2px;
}

.autotagjs-palette-cell:hover {
    box-shadow : 0 0 1px #000;
}

.autotagjs-menu {
    position : relative;
}

.autotagjs-submenu {
    padding : 10px;
    background-color : #FFF;
    position : absolute;
    top : 50px;
    z-index : 1000;
    box-shadow : 1px 1px 3px #CCC;
    font-family : 'Helvetica';
    text-align : left;
    border-radius : 2px;
}

.autotagjs-list {
    display: list-item;
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    padding-left: 75px;
}

.autotagjs-list:before {
    position: absolute;
    left: 0;
    width: 60px;
    text-align: right;
}

.autotagjs-numbered-list:before {
    content: counter(autotagjs-numbered-counter) ".";
    counter-increment: autotagjs-numbered-counter;
}

.autotagjs-bulleted-list:before {
    content: "\25CF";
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    .page-header {
        padding: 60px 20px !important;
    }
    .autotagjs-palette {
        position : fixed !important;
        left : 50%;
        margin-left : -180px;
        top : 220px !important;
    }

    .autotagjs-palette-cell {
        height: 26px;
        width: 26px;
        margin: 4px;
    }
}
