
.atg-text,
.atg-tab {
    caret-color: #777;
    min-width: 1px;
}

/*.atg-cursor {
    border-left: 1px solid #000;
}*/

/* Prevent words from breaking.
 * Courtesy: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
 */
 .atg-text,
 .atg-tab,
 .atg-line {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.atg-line {
    display: flex;
    white-space: pre-wrap;
    cursor: text;
}

.atg-line-leader {
    vertical-align: top;
    min-width: 50px;
    text-align: right;
    padding-right: 10px;
}

.atg-line-body {
    /*display: table-cell;*/
}

.atg-list {
    min-width: 30px;
}

/* Deal with IE paragraph style within the editor. */
[contenteditable] * {
    margin : 0;
}

::-moz-selection {
    color : #000;
    background : #BFD3FA;
}

::selection {
    color : #000;
    background : #BFD3FA;
}

/* Prevent outlines on contenteditable items in IE. */
[contenteditable]:focus {
    outline : 0;
}

.atg-palette {
    left : -132px;
}

.atg-palette-row {
    display : flex;
}

.atg-palette-cell {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 2px;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
}

/*.atg-palette-color-cell {
    font-size: 12px;
}

.atg-palette-fill-cell {
    font-size: 6px;
}*/

.atg-palette-cell:hover {
    box-shadow : 0 0 1px #000;
}

.atg-crossed-cell {
    background: linear-gradient(to top left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 0.8px),
        rgba(0,0,0,0.3) 50%,
        rgba(0,0,0,0) calc(50% + 0.8px),
        rgba(0,0,0,0) 100%) !important;
    border: 1px solid #CCC;
    height: 18px;
    width: 18px;
}

.atg-menu {
    position : relative;
    -webkit-touch-callout: none;  /* iOS Safari */
       -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Firefox */
           -ms-user-select: none; /* Internet Explorer/Edge */
               user-select: none; /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.atg-menu:hover {
    cursor: pointer;
}

.atg-submenu {
    padding : 10px;
    background-color : #FFF;
    position : absolute;
    top : 50px;
    z-index : 1000;
    box-shadow : 1px 1px 3px #CCC;
    font-family : 'Helvetica';
    text-align : left;
    border-radius : 2px;
}

.atg-list-root div {
    display: list-item;
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    padding-left: 55px;
}

.atg-list-root div::before {
    position: absolute;
    left: 0;
    width: 40px;
    text-align: right;
}

/*div[class^="atg-"]:hover::before {
    background-color: #BFD3FA;
}*/

.atg-numbered-list-1::before {
    content: counter(atg-numbered-counter-1) ".";
    counter-increment: atg-numbered-counter-1;
}

.atg-numbered-list-2::before {
    content: counter(atg-numbered-counter-2, lower-latin) ".";
    counter-increment: atg-numbered-counter-2;
}

.atg-numbered-list-3::before {
    content: counter(atg-numbered-counter-3, lower-roman) ".";
    counter-increment: atg-numbered-counter-3;
}

.atg-bulleted-list-1::before {
    content: '●';
}

.atg-bulleted-list-2::before {
    content : '○';
}

.atg-bulleted-list-3::before {
    content : '▪';
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    .page-header {
        padding: 60px 20px !important;
    }
    .atg-palette {
        position : fixed !important;
        left : 50%;
        margin-left : -180px;
        top : 220px !important;
    }

    .atg-palette-cell {
        height: 26px;
        width: 26px;
        margin: 4px;
    }
}

/* V3 */
.atg-tab {
    white-space: pre;
}
