body {
    background-color : #EEE;
    margin : 0;
    padding : 0;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px;
}

.page-header:before {
    background : rgba(75, 75, 93, 0.85);
}
.page-header {
    padding : 120px 20px;
    text-align : center;
    color : darkslateblue;
    background-image : url(../images/header.jpg);
    background-size : cover;
    background-repeat : no-repeat;
    position : relative;
}

.page-header, .page-about {
    text-align : center;
}

.page-title {
    font-size : 4em;
    font-weight : bold;
    line-height : 90px;
    /*z-index: 100000;*/
    position : relative;
    text-shadow : 0 0 8px #FFF;
}

.page-msg {
    font-weight : 300;
    font-size : 20px;
    line-height : 1.4em;
    max-width : 600px;
    margin : auto;
}

.page-section {
    display :         flex;
    display : -webkit-flex;
    flex-flow : row wrap;
    align-items : center;
    justify-content : center;
    padding : 60px;
}

.section-text {
    flex : 0 1 400px;
    text-align : center;
    padding : 40px;
}

.section-text-title {
    font-size : 30px;
    font-weight : bold;
    padding-bottom : 20px;
    margin-bottom : 20px;
}

.section-text-body {
    font-size : 20px;
    font-family : 'Montserrat', sans-serif;
}

.section-build-editor {
    background-color : #F5F5F5;
    color : darkslategrey;
}

.section-browser-support {
    background-color : #F5F5F5;
    color : #555;
}

.section-enhanced-input {
    background : #FFF;
}

.section-image {
    flex : 0 1 400px;
    text-align : center;
}

.section-form {
    flex : 0 1 400px;
    text-align : left;
    padding : 40px;
    border : 1px dashed #999;
    box-sizing : border-box;
    border-radius : 6px;
}

.browser-icon-list {
    width : 100%;
}

.browser-icon {
    font-size : 85px !important;
    text-align : center;
    color : #000;
    padding : 40px 0;
}

.editor-image {
    width : 100%;
    box-shadow : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.demo-container {
    width : 100%;
    box-sizing : border-box;
    background-color : #FFF;
}
.demo-input {
    box-sizing : border-box;
    height : auto;
}

.demo-inputplus {
    background : #FFF;
    padding : 5px 0 0;
    text-align : left;
    line-height : 2em;
}

.demo-inputplus-textbox {
    margin-bottom : 30px;
    border-bottom : 1px solid #DDD;
    padding-bottom : 40px;
}

.demo-inputplus-textarea {
    height : 100px;
}

.demo-inputplus-label {
    text-align : left;
    font-size : 0.7em;
    color : #999;
}

.demo-plus-sign {
    color : brown;
    background-color : yellow;
    font-style : italic;
}

.demo-hash-tag {
    color : red;
}

.demo-at-tag {
    color : green;
}

.demo-pronoun {
    color : purple !important;
}

.demo-pronoun:hover {
    background-color : yellow;
}

/* Remove default link decoration. Its ugly as hell. */
.demo-input > p > a[href] {
    text-decoration : none;
}

.demo-input {
    /*font-family : 'Caveat', cursive;*/
    font-family: 'Khula', sans-serif;
    font-size : 16px;
    font-weight: 300;
}

.demo-menubar {
    padding : 14px ;
    display :         flex;
    display : -webkit-flex;
    flex-flow : row wrap;
    align-items : center;
    justify-content : center;
    border-bottom : 1px solid #EEE;
    background : #F5F5F5;
    position : relative;
    color : #000;
}

/* Set a color to the list */
.atg-list:before {
    color : #555;
}

.demo-circle-list:before {
    content : counter(demo-circle-counter, circle);
}

.demo-square-list:before {
    content : counter(demo-square-counter, square);
}

.demo-ballotbox-list:before {
    content : '\2610';
}

.demo-diamond-cross-list:before {
    content : '\2756';
}

.demo-circle-list:before, .demo-square-list:before, .demo-diamond-cross-list:before {
    /* Custom adjust size and position of bullet a*/
    font-size : 0.6em;
    top : 22%;
}

.demo-leading-zero-list:before {
    content : counter(demo-leading-zero-counter, decimal-leading-zero) '.';
    counter-increment : demo-leading-zero-counter;
}

.demo-lower-roman-list:before {
    content : counter(demo-lower-roman-counter, lower-roman) '.';
    counter-increment : demo-lower-roman-counter;
}

.demo-upper-roman-list:before {
    content : counter(demo-upper-roman-counter, upper-roman) '.';
    counter-increment : demo-upper-roman-counter;
}

.demo-lower-greek-list:before {
    content : counter(demo-lower-greek-counter, lower-greek) '.';
    counter-increment : demo-lower-greek-counter;
}

.demo-lower-latin-list:before {
    content : counter(demo-lower-latin-counter, lower-latin) '.';
    counter-increment : demo-lower-latin-counter;
}

.demo-upper-latin-list:before {
    content : counter(demo-upper-latin-counter, upper-latin) '.';
    counter-increment : demo-upper-latin-counter;
}

[class^='icon-'], [class*=' icon-'] {
    font-size : 20px;
}

.demo-menu {
    padding : 6px;
    text-align : center;
    border-radius : 4px;
    margin : 2px;
    color : lightslategray;
}

.demo-menu-active, .demo-menu:hover {
    color: brown;
    background: cornsilk;
}

.demo-menu-sep {
    border-right : 1px solid #DDD;
    height : 36px;
    width : 0;
    margin : 0 8px;
}

.demo-submenu-sep {
    border-bottom : 1px solid #EEE;
}

.demo-submenu > div {
    cursor : pointer;
    padding : 4px 16px;
    line-height : 20px;
    font-size : 14px;
}

.demo-submenu > div:hover {
    background : #EEE;
}

.demo-notepad {
    margin : 0 auto;
    padding : 20px;
    max-width : 800px;
    min-height : 300px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .page-section {
        padding : 40px 20px !important;
    }
}
