body {
    background-color : #EEE;
    font-family : Arial, Helvetica, sans-serif;
}
.page-header {
    margin-bottom : 20px;
    padding : 20px 0;
    text-align : center;
    color : #999;
    border-bottom : 1px solid #DDD;
}
.page-title {
    font-size : 2em;
    padding-bottom : 10px;
    color : #555;
    text-shadow : 1px 1px #FFF;
}
.demos {
    display :         flex;
    display : -webkit-flex;
    flex-flow : row wrap;
    align-items : center;
    justify-content : space-around;
}
.demo-container {
    width : 400px;
}
.demo-instructions {
    font-size : 0.9em;
    display : table-cell;
    box-sizing : border-box;
    width : 400px;
    height : 80px;
    padding : 20px 10px 10px;
    text-align : center;
    vertical-align : bottom;
    color : #555;
}
.demo-area {
    box-sizing : border-box;
    height : auto;
    min-height : 100px;
    padding : 20px;
    border : 1px solid #DDD;
    border-radius : 5px;
    background-color : #FFF;
}

/* Style underlines in demo 3 */
.underline {
    font-style : italic;
    line-height : 1em;
    color : #555;
    border-bottom : 1px solid rosybrown;
    text-shadow : -1px 1px #FFF, 1px 1px #FFF, -2px -1px #FFF, 0 -1px #FFF;
}

/* Remove default link decoration. Its ugly as hell. */
#demo-3-snippet > p > a[href] {
    text-decoration : none;
}


/* The default decorator tag styles */
.autotag-hashtag {
    color : red;
}
.autotag-attag {
    color : green;
}

/* Tooltip - https://chrisbracco.com/a-simple-css-tooltip/ */

[data-tooltip] {
    position : relative;
    z-index : 2;
    cursor : pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before, [data-tooltip]:after {
    visibility : hidden;
    pointer-events : none;
    opacity : 1;

    /* Remove inherited properties */
    text-shadow : none;
    font-style : normal;
    -ms-filter : 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter : progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/* Position tooltip above the element */
[data-tooltip]:before {
    font-size : 14px;
    line-height : 1.2;
    position : absolute;
    bottom : 150%;
    left : 50%;
    width : 160px;
    margin-bottom : 5px;
    margin-left : -80px;
    padding : 7px;
    content : attr(data-tooltip);
    text-align : center;
    color : #FFF;
    -webkit-border-radius : 3px;
       -moz-border-radius : 3px;
            border-radius : 3px;
    background-color : #000;
    background-color : hsla(0, 0%, 20%, 0.9);
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    font-size : 0;
    line-height : 0;
    position : absolute;
    bottom : 150%;
    left : 50%;
    width : 0;
    margin-left : -5px;
    content : ' ';
    border-top : 5px solid #000;
    border-top : 5px solid hsla(0, 0%, 20%, 0.9);
    border-right : 5px solid transparent;
    border-left : 5px solid transparent;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility : visible;
    opacity : 1;
    -ms-filter : 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter : progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
}
