body {
    background-color : #FFF;
    margin: 0;
    padding: 0;
    font-family : 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.page-header:before {
    background: rgba(75, 75, 93, 0.85);
}
.page-header {
    padding: 200px 100px;
    text-align: center;
    color: #FFF;
    height: 200px;
    background-image: url(../images/background-full.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}
.page-title {
    font-size: 4em;
    font-weight: 600;
    padding-bottom: 10px;
    color: #524795;
    z-index: 100000;
    position: relative;
    text-shadow: 0 0 20px #FFF;
}

.page-msg {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.4em;
    color: #555;
}
.demo-container {
    width: 100%;
    box-sizing: border-box;
}
.demo-input {
    box-sizing : border-box;
    height : auto;
    padding : 100px;
    height: 100%;
}


.demo-plus-sign {
    color: brown;
    background-color: yellow;
    border-radius: 14px;
    padding: 0px 10px 0px 5px;
    font-size: 0.95em;
}

.demo-hash-tag {
    color : red;
}

.demo-at-tag {
    color : green;
}

/* Style underlines in demo 3 */
.demo-url {
    font-style : italic;
    color : royalblue;
    box-shadow: 0px 2px;
    text-shadow : -1px 1px #FFF, 1px 1px #FFF, -2px -1px #FFF, 0 -1px #FFF;
}

.demo-pronoun {
    color: purple !important;
}

.demo-pronoun:hover {
    background-color: yellow;
}

/* Remove default link decoration. Its ugly as hell. */
.demo-input > p > a[href] {
    text-decoration : none;
}

.demo-input {
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.demo-input > p {
    line-height: 40px;
}

.demo-menubar {
    padding: 10px 0;
    display: flex;
    display : -webkit-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EEE;
    margin-bottom: 33px;
    background: #F5F5F5;
    position: relative;
    color: #000;
}

.demo-menu {
    font-size: 1.8em;
    padding: 10px 6px;
    flex: 0 1 40px;
    text-align: center;
    border-radius: 4px;
}

.demo-menu:hover {
    box-shadow: 0 0 2px 0px #999;
}

.demo-notepad {
    margin: 0;
    padding: 0 12%;
	/* gradients - second red border, first red border, top white space, blue lines */
    background-image:
        -webkit-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)),
        -webkit-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)),
        -webkit-repeating-linear-gradient(white 0px, white 38px, #EEE 39px, white 40px);

    background-image:
        -moz-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)),
        -moz-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)),
        -moz-repeating-linear-gradient(white 0px, white 38px, #EEE 39px, white 40px);

    background-image:
        -ms-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)),
        -ms-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)),
        -ms-repeating-linear-gradient(white 0px, white 38px, #EEE 39px, white 40px);

    background-image:
        -o-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)),
        -o-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)),
        -o-repeating-linear-gradient(white 0px, white 38px, #EEE 39px, white 40px);

    background-image:
        linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)),
        linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)),
        repeating-linear-gradient(white 0px, white 38px, #EEE 39px, white 40px);

    background-size: 1px, 1px, auto, auto 40px;
    background-repeat: repeat-y, repeat-y, no-repeat, repeat;
    background-position: 90% 0px, 10% 0px, 0px 0px, 0px 0px;
}
