.autotag-menu {
    padding: 10px 0;
    display: flex;
    display : -webkit-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EEE;
    margin-bottom: 33px;
    background: #F5F5F5;
    position: relative;
}

.autotag-menu-icon {
    font-size: 1.8em;
    padding: 10px 6px;
    flex: 0 1 40px;
    text-align: center;
    color: #555;
}

.autotag-menu-icon:hover {
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 0 1px #DDD;
    color: #000;
}
