.notepad {
    margin: 0;
    padding: 0 100px 20px 150px;
	/* gradients - second red border, first red border, top white space, blue lines */
    background-image:
        -webkit-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)),
        -webkit-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)),
        -webkit-repeating-linear-gradient(white 0px, white 38px, #EEE 39px, white 40px);

    background-image:
        -moz-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)),
        -moz-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)),
        -moz-repeating-linear-gradient(white 0px, white 38px, #EEE 39px, white 40px);

    background-image:
        -ms-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)),
        -ms-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)),
        -ms-repeating-linear-gradient(white 0px, white 38px, #EEE 39px, white 40px);

    background-image:
        -o-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)),
        -o-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)),
        -o-repeating-linear-gradient(white 0px, white 38px, #EEE 39px, white 40px);

    background-image:
        linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)),
        linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)),
        repeating-linear-gradient(white 0px, white 38px, #EEE 39px, white 40px);

    background-size: 1px, 1px, auto, auto 40px;
    background-repeat: repeat-y, repeat-y, no-repeat, repeat;
    background-position: 90% 0px, 10% 0px, 0px 0px, 0px 0px;
}
