/* Tooltip - https://chrisbracco.com/a-simple-css-tooltip/ */

[data-tooltip] {
    position : relative;
    z-index : 2;
    cursor : pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before, [data-tooltip]:after {
    visibility : hidden;
    pointer-events : none;
    opacity : 1;

    /* Remove inherited properties */
    text-shadow : none;
    font-style : normal;
    -ms-filter : 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter : progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/* Position tooltip above the element */
[data-tooltip]:before {
    font-size : 14px;
    line-height : 1.2;
    position : absolute;
    bottom : 150%;
    left : 50%;
    width : 160px;
    margin-bottom : 5px;
    margin-left : -80px;
    padding : 7px;
    content : attr(data-tooltip);
    text-align : center;
    color : #FFF;
    -webkit-border-radius : 3px;
       -moz-border-radius : 3px;
            border-radius : 3px;
    background-color : #000;
    background-color : hsla(0, 0%, 20%, 0.9);
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    font-size : 0;
    line-height : 0;
    position : absolute;
    bottom : 150%;
    left : 50%;
    width : 0;
    margin-left : -5px;
    content : ' ';
    border-top : 5px solid #000;
    border-top : 5px solid hsla(0, 0%, 20%, 0.9);
    border-right : 5px solid transparent;
    border-left : 5px solid transparent;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility : visible;
    opacity : 1;
    -ms-filter : 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter : progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
}
