@font-face {
  font-family: 'autotag';
  src:  url('../fonts/autotag.eot?vm7zpz');
  src:  url('../fonts/autotag.eot?vm7zpz#iefix') format('embedded-opentype'),
    url('../fonts/autotag.ttf?vm7zpz') format('truetype'),
    url('../fonts/autotag.woff?vm7zpz') format('woff'),
    url('../fonts/autotag.svg?vm7zpz#autotag') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'autotag' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drop-down:before {
  content: "\e5c5";
}
.icon-font_download:before {
  content: "\e167";
}
.icon-align-center:before {
  content: "\e234";
}
.icon-align-justify:before {
  content: "\e235";
}
.icon-align-left:before {
  content: "\e236";
}
.icon-align-right:before {
  content: "\e237";
}
.icon-bold:before {
  content: "\e238";
}
.icon-clear:before {
  content: "\e239";
}
.icon-color-fill:before {
  content: "\e23a";
}
.icon-color-text:before {
  content: "\e23c";
}
.icon-indent-left:before {
  content: "\e23d";
}
.icon-indent-right:before {
  content: "\e23e";
}
.icon-italic:before {
  content: "\e23f";
}
.icon-line-spacing:before {
  content: "\e240";
}
.icon-list-bulleted:before {
  content: "\e241";
}
.icon-list-numbered:before {
  content: "\e242";
}
.icon-size:before {
  content: "\e245";
}
.icon-underlined:before {
  content: "\e249";
}
